<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.delivery.user.mapper.UserMapper">

    <!--계정 조회-->
    <select id="findUser" parameterType="String" resultType="com.food.delivery.user.dto.UserDTO">
        SELECT * FROM users u
        WHERE u.username = #{value}
    </select>
    <!--계정 추가-->
    <insert id="insertUser" parameterType="com.food.delivery.user.dto.UserDTO">
        INSERT INTO users
        (
            location,
            username,
            phone,
            email,
            password_hash,
            status,
            role
        )
        values (
            #{location},
            #{username},
            #{phone},
            #{email},
            #{passwordHash},
            #{status},
            #{role}
        )
    </insert>
    <!--계정 수정-->
    <!--계정 삭제-->


</mapper>
